@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
    display: block;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
::-ms-clear
{
    display: none;
}
body {
    background: #dfe0ea;
    font-family: "Gilroy";
    font-weight: 700;
    color: #8182b0;
}
.wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /*min-width: 360px;*/
    min-height: 100%;    
}
.main {
    flex: 1 0 auto;
}
.cont {
    width: 100%;
    max-width: 411px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.main {
    background: url(../images/header_bg.png);
    background-position: center -221px;
    background-repeat: no-repeat;
    padding-top: 50px;
}
header {
    margin-bottom: 25px;
}
.header_image {
    width: 197px;
    height: 197px;
    margin: 0 auto;
}
.header_image img {
    margin: 0  auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.header_description {
    margin-top: 20px;
}
.header_title {
    color: #313873;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 25px;
}
.header_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 213px; */
    box-shadow: 0 16px 31px rgba(25, 121, 246, 0.45);
    border-radius: 35px;
    background-image: linear-gradient(225deg, #2084ff 0%, #0052d4 100%);
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    padding:13px;
}

.header_phone span {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-left:10px;
}
.price {
    margin-bottom: 38px;
}
.price_list {
    list-style: none;
    text-align: center;
    color: #8182b0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.price_list li {
    margin-bottom: 23px;
}
.price_text {
    text-align: center;
    color: #8182b0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.gallery {
    margin-bottom: 20px;
}
.gallery_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -17px;
}
.gallery_items > * {
    width: calc(100%/2 - 17px);
    margin-left: 17px;
    margin-bottom: 17px;
}
.gallery_item img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}
.adress {
    margin-bottom: 20px;
}
.adress_wrap {
    color: #8182b0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.adress_wrap span {
    color: #313873;
    font-size: 18px;
    font-weight: 700;
}
.faq {
    margin-bottom: 30px;
}
.accordion .item {
    margin-bottom: 10px;
}
.accordion .item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .item.active .head {
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .item .head .head_icon {
    margin-left: 15px;
}
.accordion .item.active .head .head_icon {
    transform: rotate(180deg);
}
.accordion .item.active .data {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #ffffff;
}
.accordion .item .head {
    padding: 21px 15px;
    border-radius: 10px;
    background: #ffffff;
    color: #555976;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.accordion .item .data {
    display: none;
    color: #8182b0;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px 27px;
    background: #fff;
    border-radius: 10px;
}
.accordion .item.active .data {
    display: block;
}
.contact {
    margin-bottom: 20px;
}
.contact_adress {
    background: #fff;
    box-shadow: 0 3px 31px rgba(148, 155, 195, 0.15);
    border-radius: 10px;
}
.contact_adress-wrap {
    display: flex;
    align-items: center;
    padding: 18px 23px 20px; 
}
.contact_adress-name {
    margin-left: 14px;
}
.map_wrap {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 100% !important;
    height: 245px;
    margin: 0 auto;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contact_phone {
    background: #f6f6f6;
    width: calc(100% + 40px);
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact_phone {
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
}
.contact_phone_title {
    color: #313873;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.contact_phone .phone,
.contact_phone .site,
.contact_phone .whatsapp {
    cursor: pointer;
    position: relative;
}
.contact_phone a.phone,
.contact_phone a.site,
.contact_phone a.whatsapp {
    text-decoration: none;
    display: flex;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 800;
    position: relative;
}
.contact_phone .icon {
    margin-right: 9px;
}
.contact_phone .phone {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;   
    width: 100%;    
    height: 58px;
    border-radius: 35px;
    background-image: linear-gradient(223deg, #03d55b 0%, #01aa2e 100%);
}
.contact_phone .site {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;   
    width: 100%;    
    height: 58px;
    box-shadow: 0 16px 31px rgba(25, 121, 246, 0.45);
    border-radius: 35px;
    background-image: linear-gradient(225deg, #2084ff 0%, #0052d4 100%);
}
.contact_phone .whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;   
    width: 100%;    
    height: 58px;
    border-radius: 35px;
    background-color: #55cd6c;
}
footer {
    background: #fff;
    padding: 10px 0;
}
.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_text {
    color: #8182b0;
    font-weight: 500;
    font-size: 14px;
}
.footer_logo {
    color: #63a0ff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.44px;
    display: flex;
    align-items: center;
}
.footer_logo img {
    width: 27px;
    height: 31px;
}
.footer_logo span {
    color: #373737;
}